<%- include('parts/header.ejs') %>
  <%- include('parts/navbar.ejs') %>

    <div class="container">
      <h1>
        <%= content %>
      </h1>
      <iframe src="https://giphy.com/embed/YlBEWxN5xpPVY6sDlm" width="480" height="270" frameBorder="0"
        class="giphy-embed" allowFullScreen></iframe>
    </div>

    <%- include('parts/script.ejs') %>
      <%- include('parts/footer.ejs') %>