<%- include('../parts/header.ejs') %>
  <%- include('../parts/navbar.ejs') %>

    <div class="container">
      <div class="row">
        <div class="col-6">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <% for(let i=page-5; i<=page+5; i++) if(i>=1 && i<=totalPage) { const newQuery={...query,page:i}; %>
                  <li class="page-item <%= i===page ? 'active' : '' %>">
                    <a class="page-link" href="?<%= new URLSearchParams(newQuery) %>">
                      <%= i %>
                    </a>
                  </li>
                  <% } %>
            </ul>
          </nav>
        </div>
        <div class="col-6">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="輸入關鍵字" aria-label="Search" name="keyword"
              value="<%= query.keyword ? query.keyword:""%>" />
            <button class="btn btn-outline-success" type="submit">搜尋</button>
          </form>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>編號</th>
            <th>姓名</th>
            <th>信箱</th>
            <th>生日</th>
            <th>創建時間</th>
          </tr>
        </thead>
        <tbody>
          <% for(let r of rows){ %>
            <tr>
              <td>
                <%= r.user_id %>
              </td>
              <td>
                <%= r.name %>
              </td>
              <td>
                <%= r.email %>
              </td>
              <td>
                <%= r.birthday %>
              </td>
              <td>
                <%= r.created_at %>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>

    <%- include('../parts/script.ejs') %>
    <%- include('../parts/footer.ejs') %>